matrix:
  include:
    - language: python
      cache:
        directories:
          - ffmpeg-3.2/
      python: 3.6
      dist: xenial
      install:
        - Gateway/bin/install_gatewayw_dependencies
        - pip install -r Gateway/gatewayw/requirements-dev.txt
        - export LD_LIBRARY_PATH=$(llvm-config --libdir)
      before_script:
        - cd Gateway/gatewayw/
        - python setup.py sdist
        - pip install dist/gatewayw*.tar.gz
        - python setup.py build
        - cd doc/
        - make html
        - ./code_coverage.sh ../../../docs/code-docs/gatewayw
        - cd ..
      script:
        - ./test/test_gatewayw.sh ../etc/
        - cd build/lib*
        - pytest --cov gateway
      after_success:
        - codecov
      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        local_dir: docs/
        on:
          branch: master
    - language: node_js
      node_js:
        - "8"
      services:
        - mongodb
      install:
        - cd Server
        - npm install
      before_script:
        - sleep 10
      script:
        - npm run test
      after_success:
        - npm run coverage
#    - if: branch = master OR branch = ios-client
#      language: objective-c
#      os: osx
#      osx_image: xcode8.3
#      before_script:
#        - Do something
#      script:
#        - Do something

notifications:
  email:
    - quentin@wendegass.com
    - mail@lukaskuster.com
