[Unit]
Description=Main Gateway worker

[Service]
Type=simple
ExecStart=/usr/local/python/bin/gatewayw
WorkingDirectory=/home/gateway
RemainAfterExit=no
Restart=on-failure

[Install]
WantedBy=multi-user.target
