[Unit]
Description=BCM2835 PCM Driver

[Service]
Type=oneshot
ExecStart=/usr/bin/bcm2835_pcm_driver start
ExecStop=/usr/bin/bcm2835_pcm_driver stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
